<div class="d-flex" id="wrapper">
  <!-- Sidebar Component -->
  <app-sidebar [isCollapsed]="isCollapsed"></app-sidebar>

  <div id="page-content-wrapper" class="flex-grow-1 d-flex flex-column bg-gray-app">
    <!-- Header Component -->
    <app-header (toggle)="isCollapsed = !isCollapsed" [isCollapsed]="isCollapsed"></app-header>

    <main class="p-2 flex-grow-1 overflow-y-scroll-auto">
      @if (loaderService.isLoading()) {
        <div class="modern-loader-overlay">
           <!-- Spinner Code -->
            <div class="loader-content">
          <!-- Modern ng-bootstrap Growing Spinner -->
          <div
            class="spinner-grow text-primary"
            style="width: 3rem; height: 3rem"
            role="status"
          >
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="mt-2 fw-bold text-primary">Please wait...</div>
        </div>
        </div>
      }
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
