/* Layout Wrapper */
#wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
}

/* Sidebar Styling */
#sidebar-wrapper {
  width: 260px;
  min-width: 260px;
  height: 100vh;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1000;
  border-right: 1px solid #dee2e6;
}

/* Collapsed Sidebar State */
#sidebar-wrapper.collapsed {
  width: 75px;
  min-width: 75px;
}

/* Grayish Application Background */
.bg-gray-app {
  background-color: #f4f7f6; /* Subtle grayish tone */
  overflow-y: auto;
}

/* Navigation Links */
.nav-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  border-left: 4px solid transparent;
  transition: 0.2s ease;
  white-space: nowrap;
}

.nav-link:hover {
  background-color: #f8f9fa;
  color: #0d6efd !important;
}

/* Active Menu Item */
.nav-link.active {
  color: #0d6efd !important;
  background-color: #f0f7ff;
  border-left: 4px solid #0d6efd;
}

/* Centering icons when collapsed */
#sidebar-wrapper.collapsed .nav-link {
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
}

#sidebar-wrapper.collapsed .nav-link i {
  margin-right: 0 !important;
  font-size: 1.25rem;
}

/* Helper Class */
.cursor-pointer {
  cursor: pointer;
}

.nav-header-color{
  background: #48c9af;
}