<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <aside id="sidebar-wrapper" [class.collapsed]="isCollapsed" class="shadow sidebar-color">
    <div class="sidebar-brand p-2 d-flex align-items-center border-bottom">
      <i class="fas fa-microscope fa-2x text-primary me-2"></i>
      @if (!isCollapsed) {
      <span class="fw-bold fs-5 text-white">MY LAB</span>
      }
    </div>

    <!-- <ul class="nav flex-column mt-3">
      <li class="nav-item">
        <a
          routerLink="/dashboard"
          routerLinkActive="active"
          class="nav-link text-white py-3"
        >
          <i class="fas fa-home fa-fw me-3"></i>
          @if (!isCollapsed) {
            <span>Dashboard</span>
          }
        </a>
      </li>
      <li class="nav-item">
        <a
          routerLink="/admin/test-list"
          routerLinkActive="active"
          class="nav-link text-white py-3"
        >
          <i class="fas fa-flask fa-fw me-3"></i>
          @if (!isCollapsed) {
            <span>Tests</span>
          }
        </a>
      </li>
      <li class="nav-item">
        <a
          routerLink="/analytics"
          routerLinkActive="active"
          class="nav-link text-white py-3"
        >
          <i class="fas fa-chart-line fa-fw me-3"></i>
          @if (!isCollapsed) {
            <span>Analytics</span>
          }
        </a>
      </li>
      <li class="nav-item">
        <a
          routerLink="/users"
          routerLinkActive="active"
          class="nav-link text-white py-3"
        >
          <i class="fas fa-users fa-fw me-3"></i>
          @if (!isCollapsed) {
            <span>Users</span>
          }
        </a>
      </li>
      <li class="nav-item">
        <a
          routerLink="/settings"
          routerLinkActive="active"
          class="nav-link text-white py-3"
        >
          <i class="fas fa-cog fa-fw me-3"></i>
          @if (!isCollapsed) {
            <span>Settings</span>
          }
        </a>
      </li>
    </ul> -->
    <ul class="nav flex-column mt-3">
      @for (item of menuItems; track item.label) {
      @if (item.permission) {
      <li class="nav-item">
        @if (!item.children) {
        <a [routerLink]="item.route" routerLinkActive="active" class="nav-link text-white py-3">
          <i class="{{ item.icon }} fa-fw me-3"></i>
          @if (!isCollapsed) {
          <span>{{ item.label }}</span>
          }
        </a>
        }
        @if (item.children) {
        <a class="nav-link text-white py-3 d-flex align-items-center cursor-pointer" (click)="toggleMenu(item.label)">
          <i class="{{ item.icon }} fa-fw me-3"></i>

          @if (!isCollapsed) {
          <span>{{ item.label }}</span>
          <i class="fas ms-auto small" [ngClass]="openMenu === item.label ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
          }
        </a>

        @if (openMenu === item.label) {
        <ul class="nav flex-column ps-4 bg-light">
          @for (child of item.children; track child.label) {

          @if (child.permission) {
          <li class="nav-item">
            <a [routerLink]="child.route" routerLinkActive="active" class="nav-link text-secondary py-2 small">
              <i class="{{ child.icon }} fa-fw"></i>
              @if (!isCollapsed) {
              <span class="ms-3">{{ child.label }}</span>
              }
            </a>
          </li>
          }
          }
        </ul>
        }}
      </li>
      }}
    </ul>

  </aside>

  <!-- Main Content Area -->
  <div id="page-content-wrapper" class="flex-grow-1 d-flex flex-column bg-gray-app">
    <!-- Navbar -->
    <header class="navbar navbar-expand nav-header-color border-bottom px-4 py-2 sticky-top shadow-sm">
      <button class="btn btn-link text-dark p-0 border-0 me-3" (click)="toggleSidebar()">
        <i class="fas fa-bars fa-lg"></i>
      </button>
      <div class="ms-auto d-flex align-items-center">
        <span class="me-3 text-white d-none d-md-block">Welcome, Admin</span>
        <!-- <i class="fas fa-user-circle fa-2x text-primary cursor-pointer"></i> -->
        <div class="dropdown">
          <button class="btn p-0 border-0 bg-transparent" (click)="toggleIcon()">
            <i class="fas fa-user-circle fa-2x text-primary"></i>
          </button>

          <ul class="dropdown-menu dropdown-menu-end shadow custom-dropdown"
            [ngStyle]="{display: menuOpen ? 'block' : 'none',right: '0'}">

            <li>
              <a class="dropdown-item d-flex align-items-center custom-item" routerLink="/profile">
                <i class="fas fa-user me-2"></i>
                My Profile
              </a>
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center custom-item" routerLink="/change-password">
                <i class="fas fa-key me-2"></i>
                Change Password
              </a>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item text-danger d-flex align-items-center custom-item logout" routerLink="/login">
                <i class="fas fa-sign-out-alt me-2"></i>
                Logout
              </a>
            </li>

          </ul>
        </div>

      </div>
    </header>

    <!-- Content Body -->
    <main class="p-2 flex-grow-1 overflow-y-scroll-auto full-body">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>