<div class="card shadow-sm border-1">
  <div class="card-header bg-white border-bottom">
    <div class="d-flex justify-content-between align-items-center">
      <!-- Dynamic Title -->
      <h5 class="mb-0">{{ config.title }}</h5>
      
      <!-- Dynamic Add Button -->
      <button *ngIf="config.AddNewButton" type="button" 
              [class]="'btn btn-sm shadow-sm ' + (config.AddNewButton.class || 'btn-outline-secondary')"  
              (click)="onAction.emit({type: 'add'})">
        <i [class]="config.AddNewButton.icon || 'fa fa-plus'"></i> 
        {{ config.AddNewButton.ButtonText || 'Add New' }}
      </button>
    </div>
  </div>

  <div class="card-body">
    <div class="table-responsive border rounded-3 shadow-sm">
      <table class="table table-hover mb-0 text-nowrap">
        <thead class="table-light border-bottom">
          <tr>
            <th scope="col" class="py-3 px-3">#</th>
            @for (item of columns; track $index) {
              <th scope="col" class="py-3 px-3">{{ formatHeader(item) | titlecase }}</th>
            }
            <th *ngIf="config.actions?.length" scope="col" class="py-3 px-3 text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          @for (item of displayList; track $index) {
            <tr class="align-middle">
              <td class="px-3">{{ pageSize * (page - 1) + $index + 1 }}</td>
              @for (column of columns; track $index) {
                <td class="px-3">{{ item[column] }}</td>
              }
              
              <!-- DYNAMIC ACTIONS LOOP -->
              <td *ngIf="config.actions?.length" class="text-center px-3">
                <div class="d-flex justify-content-center gap-2">
                  @for (action of config.actions; track $index) {
                    <i [class]="action.icon + ' cursor-pointer ' + action.class" 
                       [ngbTooltip]="action.label"
                       (click)="onAction.emit({type: action.actionKey, row: item})">
                    </i>
                  }
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center mt-3 text-nowrap w-100">
      <div class="d-flex align-items-center">
        <span class="text-muted me-3">Total: <strong>{{ collectionSize }}</strong></span>
        <select class="form-select form-select-sm" [(ngModel)]="pageSize" (ngModelChange)="updateTable()">
          @for (item of pageSizeOptions; track $index) {
            <option [ngValue]="item">{{ item }}</option>
          }
        </select>
        <span class="ms-2 text-muted">per page</span>
      </div>
      
      <ngb-pagination
        [collectionSize]="collectionSize"
        [(page)]="page"
        [pageSize]="pageSize"
        (pageChange)="updateTable()"
        class="mb-0"
      ></ngb-pagination>
    </div>
  </div>
</div>
